{{page-title "Step1"}}
<div class="row">

  <div class="col-sm-6">
    <MultiSelect @elements={{this.dispoItems}} @selected={{this.dispoItems_}} @onChange={{this.changeDispo}} class="form-control" />
  </div>

  <div class="col-sm mx-auto">
    <button {{action "add" this.dispoItems this.includedItems this.dispoItems_}}>
      <i class="fas fa-step-forward"></i>
    </button>

    <button {{action "remove" this.includedItems this.dispoItems this.includedItems_}}>
      <i class="fas fa-step-backward"></i>
    </button>

    <button {{action "add" this.dispoItems this.includedItems this.dispoItems}}>
      <i class="fas fa-fast-forward"></i>
    </button>

    <button {{action "remove" this.includedItems this.dispoItems this.includedItems}}>
      <i class="fas fa-fast-backward"></i>
    </button>
  </div>

  <div class="col-sm-5">
    <MultiSelect @elements={{this.includedItems}} @selected={{this.includedItems_}} @onChange={{this.changeIncluded}} class="form-control" />
  </div>

</div>
{{outlet}}